<!DOCTYPE html>
<html>
<head>
    <title>Chess Overdrive</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://unpkg.com/htmx.org"></script>
</head>
<body>


<h1 style="text-align:center;">Chess Overdrive</h1>

<div id="game-root" style="display:flex;gap:20px;justify-content:center;margin-top:20px;">
    <!-- Plateau de jeu -->
    <div id="board-container"
        hx-get="/board"
        hx-trigger="load, refresh_board from:body"
        hx-swap="innerHTML">
    </div>

    <!-- SIDE PANEL -->
    <div style="width:300px;">

        <!-- Overdrive -->
        <div id="overdrive"
             hx-get="/overdrive"
             hx-trigger="load"
             hx-swap="innerHTML"
             style="margin-bottom:20px;">
        </div>

        <!-- Cartes -->
        <div id="hand"
             hx-get="/hand"
             hx-trigger="load"
             hx-swap="innerHTML"
             style="margin-bottom:20px;">
        </div>

        <!-- Captures -->
        <div id="captures"
             hx-get="/captures"
             hx-trigger="load"
             hx-swap="innerHTML">
        </div>

    </div>
</div>

<script>
document.body.addEventListener("htmx:beforeOnLoad", function (evt) {
    const xhr = evt.detail.xhr;
    if (xhr.getResponseHeader("HX-Redirect") === "/login") {
        if (window.gameSocket) {
            window.gameSocket.close();
            window.gameSocket = null;
        }
    }
});
</script>

</body>
</html>
